    <!--table with products and services ends here -->


   <!-- Most important details about our boards -->
    <div class="container-fluid" id="infos">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h2>Materials</h2>
                <p>We are using the newest material <a href="#" title="The carbon we are using is ultra light and very robuste" class="item1"> including carbon</a> and wood. </p>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="More Information">View More.</button>
            </div>
            <!--en of col-md-4-->

            <div class="col-md-4 col-xs-12">
                <h2>Staff</h2>
                <p>Our employees have many years of experience working in the <a href="#" title="80% of our employees have a background in engineering" class="item1"> surfing industry</a> or related jobs.</p>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="More Information">View More.</button>
            </div>
            <!--en of col-md-4-->

            <div class="col-md-4 col-xs-12">
                <h2>Athletes</h2>
            <p>Some of the most <a href="#" title="John Walker, Harry Kane and Matthew Keene" class="item1"> celebrated surfers</a> are using our boards and have been succesfull at the most competitive surfing competitions around the globe.</p>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="More Information">View More.</button>
            </div>
            <!--end of col-md-4-->
        </div>
        <!-- end row -->
    </div>
    <!--end container-fluid-->
    <!-- Portfolio, Project and Course Goals ends here -->


    <!--embed video 4:3 aspect ratio-->
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AuGMfiLU-jk" allowfullscreen></iframe>
    </div>
    <!--end embed-video-->

