    <!--table with products and services ends here -->

  <div class="container fluid">
            <h1>Check out how our customized boards are made!</h1>
    </div><!--end container fluid-->


    <!--embed video 4:3 aspect ratio-->
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AuGMfiLU-jk" allowfullscreen></iframe>
    </div>
    <!--end embed-video-->


 <div class="container fluid">
            <h1>Mission Statement!</h1>
    </div><!--end container fluid-->
