.page-content{
	width: 100%;
	margin: 0 auto;
}

.navbar{
	background-color: black;
	width: 100%;
	position: fixed;
	top: 0;
	height: 80px;
	opacity: 0.3;
	z-index: 1;
	margin: 0 auto;
}

.navbar li{
	opacity: 0.9;
	padding-top: 10px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	transition: color 900ms;
	font-size: 2em;
	}

.navbar li a{
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	transition: color 900ms;
}

.navbar a:hover{
	color: #f00;
	text-decoration: none;
}

@media only screen and (max-width: 766px) {
	.collapsing, .in {background-color: #B0B0B0;}
	.collapsing ul li a, .in ul li a {color: #000000!important;}
	.collapsing ul li a:hover, .in ul li a:hover {color: #A00000!important;}
}

.nav{
	float: right;
	padding-right: 20px;
	padding-top: 0px;
}

.projectName{
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 20px;
	font-size: 2em;
}

.projectName a{
	color: white;
	float: left;
	padding-left: 10px;
}

.search {
	padding-left:10px;
	margin-top: 25px;
	text-align: right;
	float: right;
}

.search a:hover{
	color: #f00;
	text-decoration: none;
}

.newform{
text-align:center;
}




/*Navbar ends here*/

.subnav{
	background-color: #FF8080;
	width: 100%;
	height: 50px;
	z-index: 1;
	margin-top: 80px;
	display: block;
	text-align: right;
	position: relative;
	opacity: 0.8;
}
.subnav li{
	opacity: 0.6;
	padding-top: 0px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	transition: color 900ms;
	font-size: 1em;
}

.subnav li a{
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	transition: color 900ms;
	text-align: right;
	float: right;
		}

.subnav a:hover{
	color: #f00;
	text-decoration: none;
}

#Search{
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-family: Crimson Text, Palatino, serif;
 }


h1 {
font-size: 3em;
color: black;
text-align: center;
}

h2 {
font-size: 1em;
color: black; 
text-align: center;
}



 1.3. Carousel */


.headline {
	padding-bottom: 40px;
	font-size: 16px;
}

.carousel-caption {
	padding-bottom: 240px;
	font-family: Quicksand;
	font-size: 2em;
	color: #FFFF;
}


/*Header Carousel*/
.item h3{
	padding-bottom: 10px;
	font-size: 3em;
}	

#header h1 {margin-bottom: 300px !important;}


/*Text Carousel*/
.item p{
	padding-top: 10px;
	padding-bottom: 80px;
	font-size: 2em;
}
/*Carousel Ends here*/





#team {
	background-color: #334C00;
	opacity: 0.6;
	/*Add a background image*/
	background-attachment: fixed;
	/* Give the background a fixed position so it does not scroll when you scroll*/
	background-size: cover;
	/* Have the background cover the entire div section*/
	color: white;
	/* Change the color of the text on top so it is readable, and adjust the padding as needed*/
	margin-top: 50px;
	padding-top: 50px;
	margin-top: 50px;
	opacity: 0.8;
	height: 700px;
	font-size: 1em;
}

#team1 {
	background-color: white;
	padding-top: 50px;
	margin-top: 30px;
	margin-bottom: 40px;
	bottom: 30px;
	opacity: 0.95;
	text-align: center;
	color: black;
	height: 550px;
}

#team1 h1 {	
	text-align: center;
	font-family: Quicksand;
	padding-bottom: 20px;
	margin-top: -10px;

}

#team1 h2 {	
	font-family: Quicksand;
	margin-top: -25px;
}

#team1 p {	
	font-family: Quicksand;

}









/*table for about sections starts here */

table{
	
	margin-top: 30px;
	font-size: 2em;
	color: black;
	font-family: Quicksand, Helvetica, sans-serif;
	width: 100%;
}

table th:hover{
	color: #f00;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 900ms;
}

table, th, td {
   border: 1px solid black;
}

.my-row th {
	padding: 20px;
}

.my-row td {
	padding: 20px;
}

#infos {
	padding-bottom: 50px;
}

/*table for about sections ends here */


/*Contact Section starts here */

#mail{
	margin-left: 500px;

}

/*Contact Section ends here */





/*7. FOOTER*------------------------------------
------------------------------*/

footer {
  background-color: rgb(87, 88, 91);
  margin-top: 20px;
 }

.footer--row {
  margin-left: 0;
  margin-right: 0;
  width: 93%;
  margin: 0 auto;
}

.footer--columns {
  padding: 0 1% 5px;
  overflow: hidden;
  color: white;
}
  
.columns--readmore{
	color: blue;
}

.icon-email, {
  vertical-align: sub;
}

.columns--social-buttons a {
  font-size: 35px;
  padding-right: 5px;
  color: blue;
}

.zu-logo {
  background: url(../img/zu_logo_white.png) no-repeat center;
  background-size: cover;
  width: 115px;
  height: 30px;
  margin: 30px 0;
  overflow: hidden;
}

.copyright {
	background-color: rgb(87, 88, 91);
  width: 90%;
  margin: 5px auto 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
  font-family: Quicksand;
  color: white;
}

@media (min-width: 992px) {
  .footer--row {
    width: 82%;
    margin: 0 auto;
  }

.twitter{
	margin-top: 20px;
	margin-left: 5px;
	float: left;
}

.fb-like{	
		float: left;
		margin-top: 30px;
		margin-right: 5px;		
}

/*footer ends here */


/*Typography*/

h1,
h2,
h3 {
	font-family: Quicksand, Helvetica, sans-serif;
}
 
p,
a,
li
 {
 	font-family: Crimson Text, Palatino, serif;
 }

/*Typography ends here*/


/*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */






