.page-content{
	width: 80%;
	margin: 0 auto;
}

.navbar{
	background-color: black;
	width: 80%;
	position: fixed;
	top: 0;
	height: 60px;
	opacity: 0.7;
	z-index: 1;
	float: right;
}

.navbar li{
	opacity: 0.6;
	padding-top: 10px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	transition: color 900ms;
	font-size: 2em;
	}

.navbar li a{
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	transition: color 900ms;
}

.navbar a:hover{
	color: #f00;
	text-decoration: none;
}

@media only screen and (max-width: 766px) {
	.collapsing, .in {background-color: #B0B0B0;}
	.collapsing ul li a, .in ul li a {color: #000000!important;}
	.collapsing ul li a:hover, .in ul li a:hover {color: #A00000!important;}
}

.nav{
	float: right;
	padding-right: 20px;
	padding-top: 0px;
}

.projectName{
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 20px;
	font-size: 2em;
}

.projectName a{
	color: white;
	float: left;
	padding-left: 10px;
}

.search {
	padding-left:10px;
	margin-top: 60px;
}

.newform{
text-align:center;
}


/*Navbar ends here*/

h1 {
font-size: 3em;
color: black;
text-align: center;
}

h2 {
font-size: 1em;
color: black; 
text-align: center;
}

.Email{
margin:auto;
}

/*table for about sections starts here */

table{
	
	margin-top: 30px;
	font-size: 2em;
	color: black;
	font-family: Quicksand, Helvetica, sans-serif;
	width: 100%;
}

table th:hover{
	color: #f00;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 900ms;
}

table, th, td {
   border: 1px solid black;
}

.my-row th {
	padding: 20px;
}

.my-row td {
	padding: 20px;
}

/*table for about sections ends here */


/*footer starts here */

footer {
	background-color: black;
	width: 100%;
	position: relative;
	bottom: 0;
	height: 70px;
	opacity: 0.7;
	z-index: 1;
	font-size: 1em;
	display: block;
	}

.copyright {
	padding-top: 20px;
	padding-left: 20px;
	float: left;
	position: absolute;
}


#twitter-widget-0{
	margin-top: 20px;
	margin-right: 5px;
	float: right;
}

/*Typography*/

h1,
h2,
h3 {
	font-family: Quicksand, Helvetica, sans-serif;
}
 
p,
a,
li {
 	font-family: Crimson Text, Palatino, serif;
 }

/*Typography ends here*/


/*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */






