// Place all the styles related to the static_pages controller here.


// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/.

/*Navbar starts here*/



.newform{
text-align:center;
}

/*Navbar ends here*/

h1 {
font-size: 3em;
color: black;
text-align: center;
}

h2 {
font-size: 1em;
color: black; 
text-align: center;
}

.Email{
margin:auto;
}


/*table for about sections starts here */

table{
	
	margin-top: 30px;
	font-size: 2em;
	color: black;
	font-family: Quicksand, Helvetica, sans-serif;
	width: 100%;
}

table th:hover{
	color: #f00;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 900ms;
}

table, th, td {
   border: 1px solid black;
}

.my-row th {
	padding: 20px;
}

.my-row td {
	padding: 20px;
}

/*table for about sections ends here */

