// Place all the styles related to the static_pages controller here.


// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/.

/*Navbar starts here*/




#team {
	background-color: #334C00;
	opacity: 0.6;
	/*Add a background image*/
	background-attachment: fixed;
	/* Give the background a fixed position so it does not scroll when you scroll*/
	background-size: cover;
	/* Have the background cover the entire div section*/
	color: white;
	/* Change the color of the text on top so it is readable, and adjust the padding as needed*/
	margin-top: 50px;
	padding-top: 50px;
	margin-top: 50px;
	opacity: 0.8;
	height: 700px;
	font-size: 1em;
}

#team1 {
	background-color: white;
	padding-top: 50px;
	margin-top: 30px;
	margin-bottom: 40px;
	bottom: 30px;
	opacity: 0.95;
	text-align: center;
	color: black;
	height: 550px;
}

#team1 h1 {	
	text-align: center;
	font-family: Quicksand;
	padding-bottom: 20px;
	margin-top: -10px;

}

#team1 h2 {	
	font-family: Quicksand;
	margin-top: -25px;
}

#team1 p {	
	font-family: Quicksand;

}










#headline{
	padding-top: 40px;
}

.newform{
text-align:center;
}


h1 {
font-size: 3em;
color: black;
text-align: center;
}

h2 {
font-size: 1em;
color: black; 
text-align: center;
}







/*table for about sections starts here */

table{
	
	margin-top: 30px;
	font-size: 2em;
	color: black;
	font-family: Quicksand, Helvetica, sans-serif;
	width: 100%;
}

table th:hover{
	color: #f00;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 900ms;
}

table, th, td {
   border: 1px solid black;
}

.my-row th {
	padding: 20px;
}

.my-row td {
	padding: 20px;
}

/*table for about sections ends here */


 /* Static Contact Page */

.Email{
text-align: center;	
}

.form-group{
	margin-left:450px;
}

.display{
	
width: 6;
format: null;
align: 'right';
padding: ' ';
chars: null;
chars_preset: 'num';
timing: 250;
min_timing: 10;
threshhold: 100;
transform: true;
on_anim_start: null;
on_anim_end: null;
}

